body {
    font-family: 'STIX Two Text', serif;
}

section {
    background-color: #fff ;

}

.hero {
    background-color: #1c1d25;
    height:100vh;
    color: white;
    font-size: 40px;
}

footer {
    color: #fff;
    background-color: black ;
    text-align:center;
    padding: 80px;
}  

nav {
  display:flex;
  justify-content: space-between;   
}


ul {
    display:flex;
    list-style-type: none;
    width:500px;
    justify-content: space-around;
    font-size: 30px;
}

ul.show {
    display:block;  
}
li {
    text-decoration: none;
 }

a {
    text-decoration: none;
    color:inherit;
}

.logo {
    margin:10px;
    padding:0;
}
h1 {
    font-size: 90px;
    margin:0;
}
 
h2 {
    font-size: 65px;
}
p {
    margin:0;
    font-size: 30px;
    font-weight: 400 ;
}

.hero-area{
display: flex;
height: 100%;
justify-content: space-between;
align-items: center;
}

.hero-text {
    margin-left:80px;
    margin-bottom: 200px;
}

.button {
    width:300px;
    height:55px;
    border-radius: 25px;
    background-color: coral;
    text-align: center; 
    font-size: 30px;
    font-weight: 400;
    padding-top: 5px;
    margin-top: 20px;
}

.button a {
    text-decoration: none;
}

.button p {
    color: #ffffff;
}
.button:hover,  a:hover {
    background-color: #ef744b;
}

.button:active, a:active {
    background-color: #898989;
    color: #808080;
}

.socials {
    padding-bottom: 200px;
}

.social {
    margin: 15px;
}

.sub-section {
    display: flex;
    justify-content: space-around;
    padding:80px;
}

.pre-section {
    display:flex;
    flex-direction: column;
    text-align: center;
    padding:80px;
}
.headshot {
    height:300px;
    border-radius: 150px;
}

.headshot-container {
    display:flex;
    align-items: center;
}

.hamburger {
    display:none;
}

.hamburger:focus {
    outline: none;
}
@media only screen and (max-width:1000px) {
    .hamburger {
        display:block;
        border:0;
        background-color: transparent;
        color: white;
        font-size:30px;
        margin:20px;
    }

     ul {
        display:none; 
        background-color: #2b2c38;
    }

    nav {
        display: flex;
        flex-direction: row;
        background-color: #2b2c38;
        margin:5px;
        padding:5px;
    }

    logo {
        margin:2px;
        padding:0;
    }

    hero {
        font-size: 30px;
    }
        
        .hero-text {
            margin-left:40px;
        }

        .sub-section {
            display: flex;
            flex-wrap:wrap-reverse;
            padding: 40px;
        }
}